<footer class="page-footer" style="background-color:#003F72">
          <div class="container">
            <div class="row">
              <div class="col l3 s12">
                <h5 class="white-text">zxpython.com</h5>
                <p class="grey-text text-lighten-4">邮箱: web@zxpython.com.</p>
                <p class="grey-text text-lighten-4">地址：四川  成都</p>
              </div>
              <div class="col l3 s12">
                <h6 class="white-text">Other:</h6>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">关于我们</a></li>
                      <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">积分排行榜</a></li>
                      <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">积分兑换</a></li>
                  </ul>
              </div>
              <div class="col l3 s12">
                <h6 class="white-text">友情链接:</h6>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">django官网</a></li>
                      <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">python官网</a></li>
                  </ul>
              </div>
              <div class="col l1 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/images/zixuewang.png">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <p class="grey-text right" style="padding-right:10px">蜀ICP备15030735号-2</p>
          <div class="footer-copyright">
            <div class="container">
            © 2017  www.zxpython.com
            </div>
          </div>
        </footer>