<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="/static/materialize/css/style.css"/>
<link href="/static/images/python.ico" rel="shortcut icon">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="/static/materialize/js/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>python自学网</title>
</head>