{% include 'extends/header.html' %}

<body>
    <div class="navbar-fixed">
			<nav style="background-color:#003F72">
				<div class="nav-wrapper container">
					<a href="/" class="brand-logo"><img class="img-responsive" style="width:50px; height;50px; margin-top:5px; text-align: center" src="/static/images/mainlogowhitethick.jpg"></a>
					<a href="#" data-activates="navsidebar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
					<ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'index' %}">首页</a></li>
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="python 在线学习视频" href="{% url 'TrainVideo' %}" data-tooltip-id="358b53a0-c53c-c4da-b56c-125cae8f1eac">自学视频</a></li>
                        <li><a href="#">在线手册</a></li>
                        <li><a href="{% url 'article_list' %}">论坛</a></li>
                        <li><a href="{% url 'login' %}">登录</a></li>
                        <li><a href="{% url 'register' %}">注册</a></li>
					</ul>
				</div>
			</nav>
    </div>


    <div class="container">
        {% block container %}


        {% endblock %}

	</div>

    {% include 'extends/footer.html' %}

</body>

{%  include 'extends/bottomjs.html' %}



