<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
<head>
    <meta charset="UTF-8">
    <title>首页展示</title>
</head>
<body>
    <div class="navbar-fixed">
			<nav style="background-color:#003F72">
				<div class="nav-wrapper container">
					<a href="/" class="brand-logo"><img class="img-responsive" style="width:50px; height;50px; margin-top:5px; text-align: center" src="/static/images/mainlogowhitethick.jpg"></a>
					<a href="#" data-activates="navsidebar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
					<ul class="right hide-on-med-and-down">
                        <li><a href="#">首页</a></li>
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="python 在线学习视频" href="/+=1/" data-tooltip-id="358b53a0-c53c-c4da-b56c-125cae8f1eac">自学视频</a></li>
                        <li><a href="#">在线手册</a></li>
                        <li><a href="#">论坛</a></li>
                        <li><a href="#">登录</a></li>
                        <li><a href="#">注册</a></li>
					</ul>
				</div>
			</nav>
		</div>
</body>

<script type="text/javascript" src="/static/materialize/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</html>