{% extends 'base.html' %}

{% block container %}

            <div class="row" style="padding-top: 80px;">
                <form class="col s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="username" id="first_name" type="text" class="validate">
                            <label for="first_name">用户名</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <a class="waves-effect waves-light btn right" style="background-color: #00b0ff">登录</a>
                    </div>
                </form>
            </div>

{% endblock %}