{% extends 'base.html' %}

{% block container %}
     <div class="section">
                <div class="row">
                <!-- size 4 on a large screen, 12 on a small, 6 on a med -->
                    <div class="col l4 s12 m6">
                        <a href="/robotics-tutorials/" class="waves-effect waves-light" style="color:#000">
                        </a><div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;"><a href="/robotics-tutorials/" class="waves-effect waves-light" style="color:#000">
                            <div class="card-image">
                              <img class="responsive-img" src="/static/images/python.png" style="width:250px">
                              <br><span class="card-title"><strong>Robotics</strong></span>
                            </div>
                            <div class="card-content">
                              <p>Control hardware with Python programming and the Raspberry Pi.</p>
                            </div>
                            </a><div class="card-action right-align"><a href="/robotics-tutorials/" class="waves-effect waves-light" style="color:#000">
                              </a><a href="/robotics-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
                            </div>
                        </div>

                    </div>
                    <div class="col l4 s12 m6">
                        <a href="/web-development-tutorials/" class="waves-effect waves-light" style="color:#000">
                        </a><div class="card-panel hoverable" style="height:360px; background-color:#FFFFFF;"><a href="/web-development-tutorials/" class="waves-effect waves-light" style="color:#000">
                            <div class="card-image">
                              <img class="responsive-img" src="/static/images/python.png" style="width:250px">
                              <br><span class="card-title"><strong>Web Development</strong></span>
                            </div>
                            <div class="card-content">
                              <p>How to develop websites with either the Flask or Django frameworks for Python.</p>
                            </div>
                            </a><div class="card-action right-align"><a href="/web-development-tutorials/" class="waves-effect waves-light" style="color:#000">
                              </a><a href="/web-development-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
{% endblock %}